.Input {
  display: flex;
  flex: row nowrap;
  align-items: center;
}

.Input .form-error,
.Input .form-warning {
  color: var(--ourWarningColor);
}

.Input .label {
  flex-basis: 4.5em;
  flex-shrink: 0;
}
