.RegistrationForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.RegistrationForm legend {
  font-size: 1.5rem;
  font-family: var(--secondaryFonts);
}

.RegistrationForm .Input,
.RegistrationForm button,
.RegistrationForm .button {
  margin-top: 1em;
}
