.pageWrapped {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
}

.shoppingLists {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.shoppingLists ul {
  width: 100%;
  padding-left: 0px;
  margin: auto;
  text-align: center;
}

.shoppingLists a {
  text-decoration: none;
  color: black;
}

.shoppingLists li {
  padding: 10px;
  border-radius: 15px;
  list-style-type: none;
  margin: 15px 0px;
  background-color: var(--listBoxBG);
  text-align: center;
  font-size: 20px;
  box-shadow: 1px 1px #d1c9c9;
  color: black;
}

.shoppingList {
  width: 100%;
}

.listTitle {
  font-family: var(--secondaryFonts);
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  background-color: #dee8eb88;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.storeDetails {
  font-family: var(--secondaryFonts);
  font-size: 1rem;
  margin-bottom: 0.25vh;
}

.add-list-clicker {
  position: fixed;
  padding: 0;
  left: 77%;
  top: 90%;
  border-radius: 50%;
  color: var(--ourPrimary);
  background-color: transparent;
}

.add-list-clicker .onboard-highlight {
  border-radius: 50%;
  box-shadow: 0 0 10px 10px #c31421;
}

.close-button {
  color: var(--ourWarningColor);
  text-shadow: 2px 1px black;
  position: absolute;
  right: 2%;
  margin: 5px;
}

.list-page-wrapper .onboarding {
  font-size: 2rem;
  font-family: var(--headerFont);
  position: absolute;
  top: 30%;
  right: 30%;
  color: #4e080d;
  margin-left: 1rem;
}

.list-page-wrapper .onboarding img {
  position: fixed;
  left: 77%;
  top: 30%;
}

@media only screen and (min-width: 768px) {
  .listTitle {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
