.empty-div {
  color: white;
  text-align: center;
}

.CreateShoppingList-container {
  background-color: white;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.add-list-button {
  opacity: 1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: url('/public/plus.png');
}
