.CreateShoppingList-container {
  background-color: transparent;
  max-width: 80%;
  margin: auto;
  text-align: center;
}

.CreateShoppingList-pageTitle {
  color: white;
  font-family: var(--titleFonts);
  text-shadow: 2px 1px black;
  margin-bottom: 1vh;
  font-size: 1.5em;
}

.CreateShoppingListForm label {
  display: block;
}

.selected-store {
  padding: 2%;
  border-radius: 15px;
  list-style-type: none;
  margin-bottom: 5%;
  background-color: var(--ourOrange);
  text-align: center;
  font-size: 20px;
  color: black;
  box-shadow: 3px 2px black;
}

.search-question {
  color: white;
}

.name-label {
  color: white;
  font-family: var(--secondaryFonts);
  text-shadow: 2px 1px black;
  margin-bottom: 1vh;
  font-size: 1em;
}

.name-label > input {
  margin-left: 10px;
  box-shadow: 2px 1px black;
}

.store-result {
  padding: 2%;
  border-radius: 15px;
  list-style-type: none;
  margin-top: 5%;
  background-color: var(--ourOrange);
  text-align: center;
  font-size: 20px;
  color: black;
  box-shadow: 3px 2px black;
}
.store-result strong {
  font-family: var(--titleFonts);
  font-size: 1em;
  margin-bottom: 1vh;
  color: black;
  font-weight: bold;
}

.selected-result address {
  font-family: var(--secondaryFonts);
  margin-bottom: 2vh;
}

.store-search-results {
  list-style-type: none;
  background: transparent;
}

.selected-store p {
  font-family: var(--secondaryFonts);
  font-size: 1em;
  margin-bottom: 1vh;
  color: black;
  font-weight: bold;
}

.storeTitle {
  font-family: var(--titleFonts);
  font-size: 1.5em;
  margin-bottom: 1vh;
  color: black;
  font-weight: bold;
}

.selected-store address {
  font-family: var(--secondaryFonts);
  margin-bottom: 1vh;
}

button {
  font-family: var(--secondaryFonts);
}
