.RegistrationPage {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem;
}

.RegistrationPage header {
  margin: 1rem;
  text-align: center;
}

.RegistrationPage h1 {
  font-family: var(--logoFont);
  color: var(--ourPrimary);
  font-size: 40px;
}

.RegistrationPage main {
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
  border-radius: 4px;
  background-color: var(--cardBgColor);
}
