.registration-form {
  width: 75%;
  margin: auto;
}

label {
  display: block;
  text-align: center;
  margin-top: 3%;
}

.registration-form {
  text-align: center;
}

.registration-input {
  background-color: black;
  color: white;
}

.title {
  text-align: center;
}

.register-btn {
  margin-top: 3%;
}

.returnButton {
  margin: auto;
  margin-top: 3%;
  display: block;
}

a {
  text-decoration: none;
}
