:root {
  --ourOrange: #fb6107;
  --ourGreen: #7cb518;
  --ourYellow: #f3de2c;
  --ourGold: #fbb02d;
  --ourWarningColor: #db504a;
  --titleFonts: 'Righteous', cursive;
  --secondaryFonts: 'Lato', sans-serif;
  --fadedBack: rgba(255, 255, 255, 0.1);
  --cardBgColor: #eeeeee;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: var(--secondaryFonts);
}

.orange {
  color: var(--ourOrange);
}

#root {
  display: inline-block;
  min-width: 100%;
  background: url('/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

button,
.button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  font-family: var(--secondaryFonts);
}

.button--submit {
  background-color: var(--ourGreen);
}

.button--primary {
  background-color: var(--ourOrange);
}

a.button:visited {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0.5em 1em;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
  font-family: var(--secondaryFonts);
}
