:root {
  --ourOrange: #fb6107;
  --ourGreen: #7cb518;
  --ourYellow: #f3de2c;
  --ourGold: #fbb02d;
  --titleFonts: 'Righteous', cursive;
  --secondaryFonts: 'Lato', sans-serif;
  --fadedBack: rgba(255, 255, 255, 0.1);
}

html * {
  box-sizing: border-box;
}

body {
  font-family: var(--secondaryFonts);
}

.orange {
  color: var(--ourOrange);
}

#root {
  display: inline-block;
  min-width: 100%;
  background: url('/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
